.panel-title {
    padding-top: 3px;

    .btn {
        color: #fff!important;
        position: relative;
        top: -8px;
        margin-bottom: -13px;
        margin-right: 10px;
    }
}

.panel-body {
    :last-child {
        margin-bottom: 0;
    }
}

#steps .text-left {
    text-align: left!important;
}
